/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(http://fonts.googleapis.com/css?family=Ek+Mukta:400,700);
@import url(http://fonts.googleapis.com/css?family=Tillana:400,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

main {
  max-width: 750px;
  width: 90%;
  margin: 0 auto;
  background-color: white;
  padding: 3%; }

.banner {
  max-width: 750px;
  width: 90%;
  margin: 0 auto;
  background: #72AAD0;
  padding: 3%; }

html {
  font-size: 1.063em; }

body {
  background-color: #E8FFF8;
  font-family: Ek Mukta, serif;
  font-weight: 400;
  line-height: 1.45;
  color: #424830; }

p {
  margin-bottom: 1.3em; }

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
  color: #474747;
  font-family: Tillana, serif; }

h1 {
  margin-top: 0;
  font-size: 3.157em; }

h2 {
  font-size: 2.369em; }

h3 {
  font-size: 1.777em; }

h4 {
  font-size: 1.333em; }

h5, h6 {
  font-weight: bold; }

small, .font_small {
  font-size: 0.75em; }

table {
  width: 100%; }
  table thead {
    background: #72AAD0; }
  table tr:nth-child(2n+2) {
    background: #D1F1FF; }

input[type=text] {
  border: 3px solid rgba(102, 102, 102, 0.3);
  margin: 1%;
  padding: 1%;
  width: 30%;
  transition: all 300ms ease; }

input[type='text']:focus {
  border: 3px solid #666;
  box-shadow: 6px 6px 0px #72AAD0; }

.title {
  width: 100%; }

label {
  font-size: 120%;
  margin: 1%; }

textarea {
  border: 3px solid rgba(102, 102, 102, 0.3);
  margin: 1%;
  width: 100%;
  height: 300px; }

textarea:focus {
  border: 3px solid #666;
  box-shadow: 6px 6px 0px #72AAD0;
  transition: all 300ms ease; }

select {
  border: 3px solid rgba(102, 102, 102, 0.3);
  margin: 1%;
  height: auto;
  width: 30%; }

select:focus {
  border: 3px solid #666;
  box-shadow: 6px 6px 0px #72AAD0; }

input[type="radio"], input[type="checkbox"] {
  display: none; }

input[type="radio"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  background-color: #666; }

input[type="checkbox"] + label span {
  display: inline-block;
  width: 19px;
  height: 19px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  background-color: #666; }

input[type="radio"]:checked + label span, input[type="checkbox"]:checked + label span {
  transition: background-color 0.4s linear;
  background-color: #40FD65; }

select {
  border: 3px solid rgba(102, 102, 102, 0.3);
  margin: 1%;
  padding: 1%;
  width: 30%;
  background: transparent;
  font-size: 16px;
  line-height: 1; }

a:link {
  color: #40FD65; }

a:visited {
  color: #72AAD0; }

a:hover {
  color: #89DDFF; }

ul {
  list-style: inside circle; }

ol {
  list-style: inside decimal; }

input[type='submit'], input[type=button], button {
  width: 15%;
  height: 30px;
  color: #EDFFF9;
  background: #40FD65;
  border: 3px solid rgba(102, 102, 102, 0.3); }

input[type='submit']:hover, input[type='button']:hover, button:hover {
  width: 15%;
  height: 30px;
  color: #666;
  background: rgba(137, 221, 255, 0.7);
  border: 3px solid rgba(102, 102, 102, 0.3); }

input[type='submit']:active, input[type='button']:active, button:active {
  width: 15%;
  height: 30px;
  color: #666;
  background: #89DDFF;
  border: 3px solid #72AAD0; }
